@function px2rem( $px ) {
  @return $px*320/$designWidth/20 + rem;
}

$designWidth: 750;

.pull-right {
  float: right;
}

.flex-center {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}